/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

nav {
    @extend .brown, .darken-3;
}

nav .brand-logo {
    padding-left: 0.5em;
}

nav .li a {
    color:white;
}

.card .card-image .card-title {
    line-height: 1em;
    text-overflow: ellipsis;
    text-shadow: 2px 2px #333333;
}

.price {
    font-weight: bold;
    font-size: x-large;
    padding-top: 1em;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}
h2 {
    font-size: x-large;
    font-weight: bold;
}
select {
    display: block;
}